<div class="container">
    <div class= "mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= @task.title %></h5>
                <p class="card-text">model: <%= @task.model %></p>
                <p class="card-text">url: <%= @task.url %></p>
                <p class="card-text">status: <%= @task.status %></p>
                <p class="card-text">concluded_at: <%= @task.concluded_at %></p>
                <p class="card-text">brand: <%= @task.brand %></p>
                <p class="card-text">price: <%= @task.price %></p>
                <p class="card-text">user_mail: <%= @task.user_mail %></p>
                <p class="card-text">error_message: <%= @task.error_message %></p>
                <p class="card-text">created_at: <%= @task.created_at %></p>
                <p class="card-text">updated_at: <%= @task.updated_at %></p>
            </div>
        </div>
    </div>
</div>