<tr id="<%= notification["id"] %>">
    <td><%= notification["type_event"] %></td>
    <td><%= notification["task_id"] %></td>
    <td><%= notification["user_mail"] %></td>
    <td><%= notification["model"] %></td>
    <td><%= notification["brand"] %></td>
    <td><%= notification["price"] %></td>
    <td><%= notification["error_message"] %></td>
</tr>
